#Final Project Basis Data Lanjut
Oleh :
1. Sofyan Adi Saputra - 19.11.3196
2. Aqsal Harris Pratama - 19.11.3201
3. Farhan Raldifan - 19.11.3244


Dosen Pengampu : Kusnawi, S.Kom, M. Eng.

#Tentang Dataset
Dataset berisi data mengenai daftar anime yang terdapat dalam database MyAnimeList

#Informasi Kolom 
Kolom | Keterangan
--- | ---
anime_id| | The id of the anime
anime_url| The myanimelist url of the anime
title| The name of the anime
synopsis| Short description of the plot of the anime
main_pic| Url to the cover picture of the anime
type| Type of the anime (example TV, Movie, OVA etcâ€¦)
source_type| Type of the source of the anime (example Manga, Light Novel etc..)
num_episodes| Number of episodes in the anime
status| The current status of the anime (Finished airing, Currently airing or Not yet aired)
start_date| Start date of the anime
end_date| End date of the anime
season| Season the anime started airing on (example animes that started in Jan 2020 have season Winter 2020)
studios| List of studios that created the anime
genres| List of the anime genres (Action, Shonen etc..)
score| Average score of the anime on myanimelist
score_count| Number of users that scored the anime
score_rank| Rank of anime based on its score on myanimelist
popularity_rank| Rank of anime based on its popularity on myanimelist
members_count| Number of users that are members of the anime
favorites_count| Number of users that have the anime as a favorite anime
watching_count| Number of users watching the anime
completed_count| Number of users that have completed the anime
onholdcount| Number of users that have the anime on hold
dropped_count| Number of users that have dropped the anime
plantowatch_count| Number of users that plan to watch the anime
total_count| Total number of users that either completed, plan to watch, are watching, dropped or have the anime on hold
score10count| Number of users that score the anime a 10
score09count| Number of users that score the anime a 9
score08count| Number of users that score the anime a 8
score07count| Number of users that score the anime a 7
score06count| Number of users that score the anime a 6
score05count| Number of users that score the anime a 5
score04count| Number of users that score the anime a 4
score03count| Number of users that score the anime a 3
score02count| Number of users that score the anime a 2
score01count| Number of users that score the anime a 1
clubs| List of MAL clubs the anime is part of
pics| List of urls too pictures of the anime

#Tahapan
1. Import Library
2. Dataset Documentation
3. Conversion to Relational Database
4. Conversion to MongoDB and add to MongoDB Cluster
5. Datamining

#1. Import Library

In [ ]:
#dataframe
import pandas as pd

#sqlite
import sqlite3
import csv

#mongodb
!pip install pymongo
!pip install pymongo[srv]

import pymongo
from pymongo import MongoClient

#plot
import matplotlib.pyplot as plt

#optional
import warnings
warnings.filterwarnings('ignore')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo) (2.2.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo[srv]) (2.2.1)

#2. Dataset Documentation

##Load Dataset

In [ ]:
import pandas as pd
url = 'https://drive.google.com/file/d/1LZ9Li6GlODfkqKeLSLruq6gMu0qDv_tC/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path, delimiter='\t')
pd.set_option('display.max_columns', None)
df.head()

,anime_id,anime_url,title,synopsis,main_pic,type,source_type,num_episodes,status,start_date,end_date,season,studios,genres,score,score_count,score_rank,popularity_rank,members_count,favorites_count,watching_count,completed_count,on_hold_count,dropped_count,plan_to_watch_count,total_count,score_10_count,score_09_count,score_08_count,score_07_count,score_06_count,score_05_count,score_04_count,score_03_count,score_02_count,score_01_count,clubs,pics
0,2366,https://myanimelist.net/anime/2366/Touma_Kishi...,Touma Kishinden Oni,Shuramaru is hated and feared by the villagers...,https://cdn.myanimelist.net/images/anime/9/829...,TV,Game,25.0,Finished Airing,1995-10-05 00:00:00,1996-03-21 00:00:00,Fall 1995,J.C.Staff,Supernatural,NaN,NaN,NaN,11743,884,0,61,173,31,75,544,884,0,0,0,0,0,0,0,0,0,0,14045|10778|342,https://cdn.myanimelist.net/images/anime/9/544...
1,4940,https://myanimelist.net/anime/4940/Sabaku_no_K...,Sabaku no Kaizoku! Captain Kuppa,"Sometime in the future, the world was complete...",https://cdn.myanimelist.net/images/anime/9/736...,TV,Manga,26.0,Finished Airing,2001-08-13 00:00:00,2002-02-11 00:00:00,Summer 2001,NaN,Action|Adventure,NaN,NaN,NaN,13321,491,2,26,124,18,73,250,491,0,0,0,0,0,0,0,0,0,0,8494,https://cdn.myanimelist.net/images/anime/9/736...
2,50285,https://myanimelist.net/anime/50285/On_Air_Dek...,On Air Dekinai!,"Set in 2014, the anime follows the adventures ...",https://cdn.myanimelist.net/images/anime/1021/...,TV,Manga,12.0,Currently Airing,2022-01-10 00:00:00,2022-03-28 00:00:00,Winter 2022,Space Neko Company|Jinnan Studio,Comedy,NaN,NaN,NaN,9603,2057,8,203,0,39,88,1725,2055,0,0,0,0,0,0,0,0,0,0,27907|8652,https://cdn.myanimelist.net/images/anime/1021/...
3,3975,https://myanimelist.net/anime/3975/Uchi_no_3_S...,Uchi no 3 Shimai,The daily life of the Motsumoto family. The th...,https://cdn.myanimelist.net/images/anime/1631/...,TV,Other,102.0,Finished Airing,2008-04-08 00:00:00,2010-03-30 00:00:00,Spring 2008,Toei Animation|Daewon Media,Comedy|Slice of Life,NaN,NaN,NaN,12740,615,3,45,163,32,112,263,615,0,0,0,0,0,0,0,0,0,0,69895,https://cdn.myanimelist.net/images/anime/3/716...
4,36036,https://myanimelist.net/anime/36036/Running_Man,Running Man,"The Soul Tree, the great source of our race. ...",https://cdn.myanimelist.net/images/anime/1325/...,TV,Other,48.0,Finished Airing,2017-07-29 00:00:00,2018-10-12 00:00:00,Summer 2017,NaN,Action|Adventure|Kids,NaN,NaN,NaN,17330,155,6,23,47,6,35,44,155,0,0,0,0,0,0,0,0,0,0,41909,https://cdn.myanimelist.net/images/anime/1325/...

##Show Data Information

In [ ]:
#data.shape return total (row, column)
df.shape

(13379, 38)

In [ ]:
#data.info() return column order index, column name, non null count, and column data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13379 entries, 0 to 13378
Data columns (total 38 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   anime_id             13379 non-null  int64
 1   anime_url            13379 non-null  object
 2   title                13379 non-null  object
 3   synopsis             13375 non-null  object
 4   main_pic             13379 non-null  object
 5   type                 13379 non-null  object
 6   source_type          13379 non-null  object
 7   num_episodes         12948 non-null  float64
 8   status               13379 non-null  object
 9   start_date           13198 non-null  object
 10  end_date             12799 non-null  object
 11  season               4280 non-null   object
 12  studios              10343 non-null  object
 13  genres               13379 non-null  object
 14  score                10714 non-null  float64
 15  score_count          10714 non-null  float64
 16  score_rank           9465 non-null   float64
 17  popularity_rank      13379 non-null  int64
 18  members_count        13379 non-null  int64
 19  favorites_count      13379 non-null  int64
 20  watching_count       13379 non-null  int64
 21  completed_count      13379 non-null  int64
 22  on_hold_count        13379 non-null  int64
 23  dropped_count        13379 non-null  int64
 24  plan_to_watch_count  13379 non-null  int64
 25  total_count          13379 non-null  int64
 26  score_10_count       13379 non-null  int64
 27  score_09_count       13379 non-null  int64
 28  score_08_count       13379 non-null  int64
 29  score_07_count       13379 non-null  int64
 30  score_06_count       13379 non-null  int64
 31  score_05_count       13379 non-null  int64
 32  score_04_count       13379 non-null  int64
 33  score_03_count       13379 non-null  int64
 34  score_02_count       13379 non-null  int64
 35  score_01_count       13379 non-null  int64
 36  clubs                11618 non-null  object
 37  pics                 13379 non-null  object
dtypes: float64(4), int64(20), object(14)
memory usage: 3.9+ MB

In [ ]:
df.nunique()

anime_id               13379
anime_url              13379
title                  13379
synopsis               12046
main_pic               13379
type                       5
source_type               14
num_episodes             189
status                     3
start_date              5951
end_date                5847
season                   226
studios                 1231
genres                  3542
score                    576
score_count             7332
score_rank              9201
popularity_rank        13020
members_count           9476
favorites_count         1650
watching_count          3913
completed_count         7923
on_hold_count           3138
dropped_count           3278
plan_to_watch_count     7398
total_count             9472
score_10_count          3677
score_09_count          3903
score_08_count          4762
score_07_count          5226
score_06_count          4571
score_05_count          3585
score_04_count          2471
score_03_count          1704
score_02_count          1249
score_01_count          1257
clubs                   8369
pics                   13379
dtype: int64

In [ ]:
df.describe()

,anime_id,num_episodes,score,score_count,score_rank,popularity_rank,members_count,favorites_count,watching_count,completed_count,on_hold_count,dropped_count,plan_to_watch_count,total_count,score_10_count,score_09_count,score_08_count,score_07_count,score_06_count,score_05_count,score_04_count,score_03_count,score_02_count,score_01_count
count,13379.000000,12948.000000,10714.000000,1.071400e+04,9465.000000,13379.000000,1.337900e+04,13379.000000,1.337900e+04,1.337900e+04,13379.000000,13379.000000,13379.000000,1.337900e+04,13379.000000,13379.000000,13379.000000,13379.000000,13379.000000,13379.000000,13379.000000,13379.000000,13379.000000,13379.000000
mean,23185.896928,12.327850,6.561258,3.728666e+04,5544.653883,7889.506017,5.787081e+04,684.553629,3.605542e+03,3.700065e+04,1539.841916,1894.690635,13829.717767,5.787045e+04,4221.423425,5386.886314,7549.294267,6518.632110,3179.698034,1575.021676,707.784663,325.840795,192.172958,202.672995
std,16646.297648,44.955752,0.985277,1.229652e+05,3528.083235,5333.044230,1.831933e+05,5225.720400,1.867524e+04,1.346181e+05,5995.632836,6626.604790,34445.548834,1.831930e+05,25155.586913,27136.981672,29747.833821,20844.007676,9392.467902,4696.911975,2534.335234,1268.534304,821.238810,1029.747375
min,1.000000,1.000000,1.850000,1.010000e+02,1.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5433.000000,1.000000,6.020000,8.315000e+02,2483.000000,3380.500000,9.270000e+02,1.000000,3.500000e+01,2.570000e+02,17.000000,54.000000,361.000000,9.270000e+02,10.000000,4.000000,11.000000,28.000000,37.500000,36.000000,15.000000,8.000000,5.000000,7.000000
50%,27417.000000,3.000000,6.650000,3.486500e+03,5208.000000,7094.000000,5.239000e+03,8.000000,2.190000e+02,2.368000e+03,128.000000,145.000000,1823.000000,5.239000e+03,114.000000,99.000000,221.000000,400.000000,357.000000,229.000000,93.000000,47.000000,28.000000,30.000000
75%,37771.000000,12.000000,7.250000,1.989225e+04,8394.000000,11694.500000,3.048950e+04,69.000000,1.123000e+03,1.575850e+04,612.000000,586.500000,9107.000000,3.048950e+04,922.500000,1088.000000,2318.000000,3144.500000,1930.000000,1019.500000,395.500000,180.000000,103.000000,102.000000
max,51333.000000,3057.000000,9.050000,2.380891e+06,12406.000000,19552.000000,3.329298e+06,197551.000000,1.225976e+06,2.905060e+06,234422.000000,196881.000000,548250.000000,3.329298e+06,875328.000000,699881.000000,613059.000000,387608.000000,238248.000000,155460.000000,100101.000000,53437.000000,30218.000000,43363.000000

##Drop Unused Column

In [ ]:
df.columns

Index(['anime_id', 'anime_url', 'title', 'synopsis', 'main_pic', 'type',
       'source_type', 'num_episodes', 'status', 'start_date', 'end_date',
       'season', 'studios', 'genres', 'score', 'score_count', 'score_rank',
       'popularity_rank', 'members_count', 'favorites_count', 'watching_count',
       'completed_count', 'on_hold_count', 'dropped_count',
       'plan_to_watch_count', 'total_count', 'score_10_count',
       'score_09_count', 'score_08_count', 'score_07_count', 'score_06_count',
       'score_05_count', 'score_04_count', 'score_03_count', 'score_02_count',
       'score_01_count', 'clubs', 'pics'],
      dtype='object')

In [ ]:
data = df.drop(columns=['anime_url', 'main_pic', 'pics'])
data.head()

,anime_id,title,synopsis,type,source_type,num_episodes,status,start_date,end_date,season,studios,genres,score,score_count,score_rank,popularity_rank,members_count,favorites_count,watching_count,completed_count,on_hold_count,dropped_count,plan_to_watch_count,total_count,score_10_count,score_09_count,score_08_count,score_07_count,score_06_count,score_05_count,score_04_count,score_03_count,score_02_count,score_01_count,clubs
0,2366,Touma Kishinden Oni,Shuramaru is hated and feared by the villagers...,TV,Game,25.0,Finished Airing,1995-10-05 00:00:00,1996-03-21 00:00:00,Fall 1995,J.C.Staff,Supernatural,NaN,NaN,NaN,11743,884,0,61,173,31,75,544,884,0,0,0,0,0,0,0,0,0,0,14045|10778|342
1,4940,Sabaku no Kaizoku! Captain Kuppa,"Sometime in the future, the world was complete...",TV,Manga,26.0,Finished Airing,2001-08-13 00:00:00,2002-02-11 00:00:00,Summer 2001,NaN,Action|Adventure,NaN,NaN,NaN,13321,491,2,26,124,18,73,250,491,0,0,0,0,0,0,0,0,0,0,8494
2,50285,On Air Dekinai!,"Set in 2014, the anime follows the adventures ...",TV,Manga,12.0,Currently Airing,2022-01-10 00:00:00,2022-03-28 00:00:00,Winter 2022,Space Neko Company|Jinnan Studio,Comedy,NaN,NaN,NaN,9603,2057,8,203,0,39,88,1725,2055,0,0,0,0,0,0,0,0,0,0,27907|8652
3,3975,Uchi no 3 Shimai,The daily life of the Motsumoto family. The th...,TV,Other,102.0,Finished Airing,2008-04-08 00:00:00,2010-03-30 00:00:00,Spring 2008,Toei Animation|Daewon Media,Comedy|Slice of Life,NaN,NaN,NaN,12740,615,3,45,163,32,112,263,615,0,0,0,0,0,0,0,0,0,0,69895
4,36036,Running Man,"The Soul Tree, the great source of our race. ...",TV,Other,48.0,Finished Airing,2017-07-29 00:00:00,2018-10-12 00:00:00,Summer 2017,NaN,Action|Adventure|Kids,NaN,NaN,NaN,17330,155,6,23,47,6,35,44,155,0,0,0,0,0,0,0,0,0,0,41909

#3. Conversion to Relational Database

##Convert Dataframe into CSV

In [ ]:
# data_json = data.to_json(r'anime_dataset.json')
tabel_informasi = ['anime_id', 'title', 'synopsis', 'type', 'source_type', 'num_episodes', 'status', 'studios']
tabel_informasi_csv = data.to_csv(r'tabel_informasi.csv', columns=tabel_informasi ,index=False, header=False)

tabel_genres = ['genres']
tabel_genres_csv = data.to_csv(r'tabel_genres.csv', columns=tabel_genres ,index=False, header=False)

tabel_clubs = ['clubs']
tabel_clubs_csv = data.to_csv(r'tabel_clubs.csv', columns=tabel_clubs ,index=False, header=False)

tabel_date = ['start_date', 'end_date', 'season']
tabel_date_csv = data.to_csv(r'tabel_date.csv', columns=tabel_date ,index=False, header=False)

tabel_score = ['score', 'score_count', 'score_rank', 'popularity_rank', 'members_count', 'score_10_count', 'score_09_count', 'score_08_count', 'score_07_count', 'score_06_count', 'score_05_count', 'score_04_count', 'score_03_count', 'score_02_count', 'score_01_count']
tabel_score_csv = data.to_csv(r'tabel_score.csv', columns=tabel_score ,index=False, header=False)

tabel_watch = ['favorites_count', 'watching_count', 'completed_count', 'on_hold_count', 'dropped_count', 'plan_to_watch_count', 'total_count']
tabel_watch_csv = data.to_csv(r'tabel_watch.csv', columns=tabel_watch ,index=False, header=False)

##Initialize Connection and Create Table

In [ ]:
conn = sqlite3.connect('myanimelist.sqlite')
cur = conn.cursor()

In [ ]:
cur.execute('DROP TABLE IF EXISTS mal_info')
cur.execute('''
CREATE TABLE "mal_info"(
 "anime_id" INTEGER,
 "title" TEXT,
 "synopsis" TEXT,
 "type" TEXT,
 "source_type" TEXT,
 "num_episodes" INTEGER,
 "status" TEXT,
 "studios" TEXT
)
''')

cur.execute('DROP TABLE IF EXISTS mal_genres')
cur.execute('''
CREATE TABLE "mal_genres"(
 "genres" TEXT
)
''')

cur.execute('DROP TABLE IF EXISTS mal_clubs')
cur.execute('''
CREATE TABLE "mal_clubs"(
 "clubs" TEXT
)
''')

cur.execute('DROP TABLE IF EXISTS mal_date')
cur.execute('''
CREATE TABLE "mal_date"(
 "start_date" BLOB,
 "end_date" BLOB,
 "season" TEXT
)
''')

cur.execute('DROP TABLE IF EXISTS mal_score')
cur.execute('''
CREATE TABLE "mal_score"(
 "score" REAL,
 "score_count" INTEGER,
 "score_rank" INTEGER,
 "popularity_rank" INTEGER,
 "members_count" INTEGER,
 "score_10_count" INTEGER,
 "score_09_count" INTEGER,
 "score_08_count" INTEGER,
 "score_07_count" INTEGER,
 "score_06_count" INTEGER,
 "score_05_count" INTEGER,
 "score_04_count" INTEGER,
 "score_03_count" INTEGER,
 "score_02_count" INTEGER,
 "score_01_count" INTEGER
)
''')

cur.execute('DROP TABLE IF EXISTS mal_watch')
cur.execute('''
CREATE TABLE "mal_watch"(
 "favorites_count" INTEGER,
 "watching_count" INTEGER,
 "completed_count" INTEGER,
 "on_hold_count" INTEGER,
 "dropped_count" INTEGER,
 "plan_to_watch_count" INTEGER,
 "total_count" INTEGER
)
''')

In [ ]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('mal_info',), ('mal_genres',), ('mal_clubs',), ('mal_date',), ('mal_score',), ('mal_watch',)]

##Insert Data from CSV to SQL

In [ ]:
tabel_informasi = open("tabel_informasi.csv")
rows_informasi = csv.reader(tabel_informasi)
cur.executemany('''INSERT INTO "mal_info" VALUES (?,?,?,?,?,?,?,?)''', rows_informasi)

tabel_genres = open("tabel_genres.csv")
rows_genres = csv.reader(tabel_genres)
cur.executemany('''INSERT INTO "mal_genres" VALUES (?)''', rows_genres)

tabel_clubs = open("tabel_clubs.csv")
rows_clubs = csv.reader(tabel_clubs)
cur.executemany('''INSERT INTO "mal_clubs" VALUES (?)''', rows_clubs)

tabel_date = open("tabel_date.csv")
rows_date = csv.reader(tabel_date)
cur.executemany('''INSERT INTO "mal_date" VALUES (?,?,?)''', rows_date)

tabel_score = open("tabel_score.csv")
rows_score = csv.reader(tabel_score)
cur.executemany('''INSERT INTO "mal_score" VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''', rows_score)

tabel_watch = open("tabel_watch.csv")
rows_watch = csv.reader(tabel_watch)
cur.executemany('''INSERT INTO "mal_watch" VALUES (?,?,?,?,?,?,?)''', rows_watch)

In [ ]:
cur.execute("SELECT * FROM mal_info LIMIT 3")
print(cur.fetchall())

cur.execute("SELECT * FROM mal_genres LIMIT 3")
print(cur.fetchall())

cur.execute("SELECT * FROM mal_clubs LIMIT 3")
print(cur.fetchall())

cur.execute("SELECT * FROM mal_date LIMIT 3")
print(cur.fetchall())

cur.execute("SELECT * FROM mal_score LIMIT 3")
print(cur.fetchall())

cur.execute("SELECT * FROM mal_watch LIMIT 3")
print(cur.fetchall())

[(2366, 'Touma Kishinden Oni', 'Shuramaru is hated and feared by the villagers for his unusual powers. He thinks he is human, but... is he?  (Source: AniDB)', 'TV', 'Game', 25, 'Finished Airing', 'J.C.Staff'), (4940, 'Sabaku no Kaizoku! Captain Kuppa', 'Sometime in the future, the world was completely dried up and became all desert. They had little rivers and lakes left, which villians and dangerous animals lived. Water has become the most valueable thing on the world. Whoever can control water will rule over the world.  (Source: ANN)', 'TV', 'Manga', 26, 'Finished Airing', ''), (50285, 'On Air Dekinai!', 'Set in 2014, the anime follows the adventures of 23 years old Mafuneko, a newly minted assistant director who joins the TV production department at Tokyo Hajikko Television, only to discover that the glamorous and glitzy life of working behind-the-scenes making TV shows involves strange and inexplicable tasks such as "gathering 300 acorns" and "making a mosaic out of the images reflected in the camera lens." Despite being surrounded by chaos, set-backs, and weirdos, Mafuneko struggles to become a fully-fledged TV producer.  (Source: Crunchyroll, edited)', 'TV', 'Manga', 12, 'Currently Airing', 'Space Neko Company|Jinnan Studio')]
[('Supernatural',), ('Action|Adventure',), ('Comedy',)]
[('14045|10778|342',), ('8494',), ('27907|8652',)]
[('1995-10-05 00:00:00', '1996-03-21 00:00:00', 'Fall 1995'), ('2001-08-13 00:00:00', '2002-02-11 00:00:00', 'Summer 2001'), ('2022-01-10 00:00:00', '2022-03-28 00:00:00', 'Winter 2022')]
[('', '', '', 11743, 884, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0), ('', '', '', 13321, 491, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0), ('', '', '', 9603, 2057, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)]
[(0, 61, 173, 31, 75, 544, 884), (2, 26, 124, 18, 73, 250, 491), (8, 203, 0, 39, 88, 1725, 2055)]

In [ ]:
conn.commit()
conn.close()

#4. Conversion to MongoDB and add to MongoDB Cluster

##Check MongoDB Cluster

In [ ]:
uri = 'mongodb+srv://bdlif10:bdlAMIKOMif10@bdlif10.vexcmfi.mongodb.net/?retryWrites=true&w=majority'
client = MongoClient(uri)

In [ ]:
#show connection status
client.stats

Database(MongoClient(host=['ac-g0rzzal-shard-00-02.vexcmfi.mongodb.net:27017', 'ac-g0rzzal-shard-00-00.vexcmfi.mongodb.net:27017', 'ac-g0rzzal-shard-00-01.vexcmfi.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-ccxbv5-shard-0', tls=True), 'stats')

In [ ]:
client.list_database_names()

['myanimelist_db', 'titanic', 'admin', 'local']

##Create Transformation Class

In [ ]:
class transformation:
    def __init__(self, mongo_uri='mongodb+srv://bdlif10:bdlAMIKOMif10@bdlif10.vexcmfi.mongodb.net/?retryWrites=true&w=majority', sql_db_name='myanimelist.sqlite'):
        sqlite_conn = sqlite3.connect('myanimelist.sqlite')
        sqlite_cur = sqlite_conn.cursor()
        mongodb_client = pymongo.MongoClient(mongo_uri)
        self.sqlite_conn = sqlite_conn
        self.sqlite_cur = sqlite_cur
        self.mongodb_client = mongodb_client
        print("Objek class berhasil dibuat")
    
    def sqlite_to_df(self, tabel_name):
        query_getdata = "select * from" + " " + tabel_name
        df_from_sql = pd.read_sql_query(query_getdata, self.sqlite_conn)
        print('Transformasi '+tabel_name+' ke DataFrame berhasil')
        return df_from_sql
    
    def mongodb_insert(self, database_mongo_name, collection_name, dict_insert):
        db = self.mongodb_client[database_mongo_name]
        collection = db[collection_name]
        collection.insert_one(dict_insert)

##Begin Transform Database

In [ ]:
transform_to_MongoDB = transformation()

In [ ]:
df_info = transform_to_MongoDB.sqlite_to_df('mal_info')
df_genres = transform_to_MongoDB.sqlite_to_df('mal_genres')
df_clubs = transform_to_MongoDB.sqlite_to_df('mal_clubs')
df_date = transform_to_MongoDB.sqlite_to_df('mal_date')
df_score = transform_to_MongoDB.sqlite_to_df('mal_score')
df_watch = transform_to_MongoDB.sqlite_to_df('mal_watch')

In [ ]:
#insert 
database_mongo_name = "myanimelist_db"
collection_name = "mal_collection"

In [ ]:
# initializing rem_val
rem_val = ''

def rem_vals(ele):
  global rem_val
  key, val = ele
  return val != rem_val

In [ ]:
for row in range(df_info.shape[0]):
  main_dict = df_info.loc[row].to_dict()
  main_dict['date'] = df_date.loc[row].to_dict()
  main_dict['score'] = df_score.loc[row].to_dict()
  main_dict['watch'] = df_watch.loc[row].to_dict()

  try:
      main_dict['clubs'] = list(map(int, df_clubs['clubs'].loc[row].split('|')))
      main_dict['genres'] = df_genres['genres'].loc[row].split('|')
      main_dict['studios'] = df_info['studios'].loc[row].split('|')
      main_dict['date']['season'] = main_dict['date']['season'].split(' ')[0]
      main_dict['date']['start_date'] = main_dict['date']['start_date'].split(' ')[0]
      main_dict['date']['end_date'] = main_dict['date']['start_date'].split(' ')[0]
  except:
      pass

  filtered_dict = {}
  for key, val in main_dict.items():
    if isinstance(val, dict):
      filtered_dict[key] = dict(filter(rem_vals, val.items()))
    else:
      filtered_dict[key] = val

  filtered_dict = {key:val for key, val in filtered_dict.items() if ((val != '')&(val != ['']))}
  transform_to_MongoDB.mongodb_insert(database_mongo_name, collection_name, filtered_dict)

In [ ]:
main_dict = df_info.loc[0].to_dict()
main_dict['date'] = df_date.loc[0].to_dict()
main_dict['score'] = df_score.loc[0].to_dict()
main_dict['watch'] = df_watch.loc[0].to_dict()

try:
    main_dict['clubs'] = list(map(int, df_clubs['clubs'].loc[0].split('|')))
    main_dict['genres'] = df_genres['genres'].loc[0].split('|')
    main_dict['studios'] = df_info['studios'].loc[0].split('|')
    main_dict['date']['season'] = main_dict['date']['season'].split(' ')[0]
    main_dict['date']['start_date'] = main_dict['date']['start_date'].split(' ')[0]
    main_dict['date']['end_date'] = main_dict['date']['start_date'].split(' ')[0]
except:
    pass

filtered_dict = {}
for key, val in main_dict.items():
  if isinstance(val, dict):
    filtered_dict[key] = dict(filter(rem_vals, val.items()))
  else:
    filtered_dict[key] = val

filtered_dict = {key:val for key, val in filtered_dict.items() if ((val != '')&(val != ['']))}
filtered_dict

#5. Datamining

##Buat Koneksi, Cek Collection, Import Collection pada Dataframe

In [ ]:
#create variable for connection
uri = 'mongodb+srv://bdlif10:bdlAMIKOMif10@bdlif10.vexcmfi.mongodb.net/?retryWrites=true&w=majority'
client = MongoClient(uri)

In [ ]:
#create variable for database and collection
db = client['myanimelist_db']
collection = db['mal_collection']

In [ ]:
query = collection.find()
query_list = list(query)

pd.set_option('display.max_columns', None)
df = pd.DataFrame(query_list)
df.head()

,_id,anime_id,title,synopsis,type,source_type,num_episodes,status,studios,date,score,watch,clubs,genres
0,62d4f035aa797eed7380354f,2366,Touma Kishinden Oni,Shuramaru is hated and feared by the villagers...,TV,Game,25.0,Finished Airing,[J.C.Staff],"{'start_date': '1995-10-05', 'end_date': '1995...","{'popularity_rank': 11743, 'members_count': 88...","{'favorites_count': 0, 'watching_count': 61, '...","[14045, 10778, 342]",[Supernatural]
1,62d4f036aa797eed73803550,4940,Sabaku no Kaizoku! Captain Kuppa,"Sometime in the future, the world was complete...",TV,Manga,26.0,Finished Airing,NaN,"{'start_date': '2001-08-13', 'end_date': '2001...","{'popularity_rank': 13321, 'members_count': 49...","{'favorites_count': 2, 'watching_count': 26, '...",[8494],"[Action, Adventure]"
2,62d4f036aa797eed73803551,50285,On Air Dekinai!,"Set in 2014, the anime follows the adventures ...",TV,Manga,12.0,Currently Airing,"[Space Neko Company, Jinnan Studio]","{'start_date': '2022-01-10', 'end_date': '2022...","{'popularity_rank': 9603, 'members_count': 205...","{'favorites_count': 8, 'watching_count': 203, ...","[27907, 8652]",[Comedy]
3,62d4f037aa797eed73803552,3975,Uchi no 3 Shimai,The daily life of the Motsumoto family. The th...,TV,Other,102.0,Finished Airing,"[Toei Animation, Daewon Media]","{'start_date': '2008-04-08', 'end_date': '2008...","{'popularity_rank': 12740, 'members_count': 61...","{'favorites_count': 3, 'watching_count': 45, '...",[69895],"[Comedy, Slice of Life]"
4,62d4f037aa797eed73803553,36036,Running Man,"The Soul Tree, the great source of our race. ...",TV,Other,48.0,Finished Airing,NaN,"{'start_date': '2017-07-29', 'end_date': '2017...","{'popularity_rank': 17330, 'members_count': 15...","{'favorites_count': 6, 'watching_count': 23, '...",[41909],"[Action, Adventure, Kids]"

In [ ]:
query_list[0]

{'_id': ObjectId('62d4f035aa797eed7380354f'),
 'anime_id': 2366,
 'title': 'Touma Kishinden Oni',
 'synopsis': 'Shuramaru is hated and feared by the villagers for his unusual powers. He thinks he is human, but... is he?  (Source: AniDB)',
 'type': 'TV',
 'source_type': 'Game',
 'num_episodes': 25,
 'status': 'Finished Airing',
 'studios': ['J.C.Staff'],
 'date': {'start_date': '1995-10-05',
  'end_date': '1995-10-05',
  'season': 'Fall'},
 'score': {'popularity_rank': 11743,
  'members_count': 884,
  'score_10_count': 0,
  'score_09_count': 0,
  'score_08_count': 0,
  'score_07_count': 0,
  'score_06_count': 0,
  'score_05_count': 0,
  'score_04_count': 0,
  'score_03_count': 0,
  'score_02_count': 0,
  'score_01_count': 0},
 'watch': {'favorites_count': 0,
  'watching_count': 61,
  'completed_count': 173,
  'on_hold_count': 31,
  'dropped_count': 75,
  'plan_to_watch_count': 544,
  'total_count': 884},
 'clubs': [14045, 10778, 342],
 'genres': ['Supernatural']}

##Preprocessing Data

###Normalize Column

In [ ]:
#mengubah bentuk query json ke menjadi selevel dalam dataframe
df = pd.json_normalize(query_list, max_level=1)
df.head(3)

,_id,anime_id,title,synopsis,type,source_type,num_episodes,status,studios,clubs,genres,date.start_date,date.end_date,date.season,score.popularity_rank,score.members_count,score.score_10_count,score.score_09_count,score.score_08_count,score.score_07_count,score.score_06_count,score.score_05_count,score.score_04_count,score.score_03_count,score.score_02_count,score.score_01_count,watch.favorites_count,watch.watching_count,watch.completed_count,watch.on_hold_count,watch.dropped_count,watch.plan_to_watch_count,watch.total_count,score.score,score.score_count,score.score_rank
0,62d4f035aa797eed7380354f,2366,Touma Kishinden Oni,Shuramaru is hated and feared by the villagers...,TV,Game,25.0,Finished Airing,[J.C.Staff],"[14045, 10778, 342]",[Supernatural],1995-10-05,1995-10-05,Fall,11743,884,0,0,0,0,0,0,0,0,0,0,0,61,173,31,75,544,884,NaN,NaN,NaN
1,62d4f036aa797eed73803550,4940,Sabaku no Kaizoku! Captain Kuppa,"Sometime in the future, the world was complete...",TV,Manga,26.0,Finished Airing,NaN,[8494],"[Action, Adventure]",2001-08-13,2001-08-13,Summer,13321,491,0,0,0,0,0,0,0,0,0,0,2,26,124,18,73,250,491,NaN,NaN,NaN
2,62d4f036aa797eed73803551,50285,On Air Dekinai!,"Set in 2014, the anime follows the adventures ...",TV,Manga,12.0,Currently Airing,"[Space Neko Company, Jinnan Studio]","[27907, 8652]",[Comedy],2022-01-10,2022-01-10,Winter,9603,2057,0,0,0,0,0,0,0,0,0,0,8,203,0,39,88,1725,2055,NaN,NaN,NaN

###Check Null Values and Drop Column

In [ ]:
#menampilkan informasi data bernilai NaN (kosong)
df.isna().sum()

_id                             0
anime_id                        0
title                           0
synopsis                        4
type                            0
source_type                     0
num_episodes                  431
status                          0
studios                      3036
clubs                        1761
genres                       1761
date.start_date               181
date.end_date                 278
date.season                  9099
score.popularity_rank           0
score.members_count             0
score.score_10_count            0
score.score_09_count            0
score.score_08_count            0
score.score_07_count            0
score.score_06_count            0
score.score_05_count            0
score.score_04_count            0
score.score_03_count            0
score.score_02_count            0
score.score_01_count            0
watch.favorites_count           0
watch.watching_count            0
watch.completed_count           0
watch.on_hold_count             0
watch.dropped_count             0
watch.plan_to_watch_count       0
watch.total_count               0
score.score                  2665
score.score_count            2665
score.score_rank             3914
dtype: int64

In [ ]:
#drop kolom bernilai NaN pada kolom synopsis, num_episodes, start_date
df = df.dropna(subset=['synopsis', 'num_episodes', 'date.start_date'])
df.isna().sum()

_id                             0
anime_id                        0
title                           0
synopsis                        0
type                            0
source_type                     0
num_episodes                    0
status                          0
studios                      2803
clubs                        1685
genres                       1685
date.start_date                 0
date.end_date                  32
date.season                  8747
score.popularity_rank           0
score.members_count             0
score.score_10_count            0
score.score_09_count            0
score.score_08_count            0
score.score_07_count            0
score.score_06_count            0
score.score_05_count            0
score.score_04_count            0
score.score_03_count            0
score.score_02_count            0
score.score_01_count            0
watch.favorites_count           0
watch.watching_count            0
watch.completed_count           0
watch.on_hold_count             0
watch.dropped_count             0
watch.plan_to_watch_count       0
watch.total_count               0
score.score                  2252
score.score_count            2252
score.score_rank             3479
dtype: int64

###Fill Column 'date.season' and Add Column 'date.start_date.year'

In [ ]:
#mengisi date.season berdasarkan bulan pada date.start_date
def fill_season(month):
  if (month in [3,4,5]):
    return 'Spring'
  elif (month in [6,7,8]):
    return 'Summer'
  elif (month in [9,10,11]):
    return 'Fall'
  elif (month in [12,1,2]):
    return 'Winter'

# for row in df.loc[df['date.season'].isna()].index:
df['date.season'] = df['date.start_date'].str[5:7:1].astype(int).apply(fill_season)

df['date.season'].isna().sum()

0

In [ ]:
def get_year(date):
  try:
    return int(date[0:4:1])
  except:
    pass

df['date.start_date.year'] = df['date.start_date'].apply(get_year)

###Fill NaN data with 0

In [ ]:
#mengisi data lain yang bernilai NaN dengan 0
df = df.fillna(0)
df.isna().sum()

_id                          0
anime_id                     0
title                        0
synopsis                     0
type                         0
source_type                  0
num_episodes                 0
status                       0
studios                      0
clubs                        0
genres                       0
date.start_date              0
date.end_date                0
date.season                  0
score.popularity_rank        0
score.members_count          0
score.score_10_count         0
score.score_09_count         0
score.score_08_count         0
score.score_07_count         0
score.score_06_count         0
score.score_05_count         0
score.score_04_count         0
score.score_03_count         0
score.score_02_count         0
score.score_01_count         0
watch.favorites_count        0
watch.watching_count         0
watch.completed_count        0
watch.on_hold_count          0
watch.dropped_count          0
watch.plan_to_watch_count    0
watch.total_count            0
score.score                  0
score.score_count            0
score.score_rank             0
date.start_date.year         0
dtype: int64

##Data Mining Process

###Genre per 5 Year

In [ ]:
year_min = df['date.start_date.year'].min()
year_max = df['date.start_date.year'].max()

genres = []
year_range = []

for a in range(year_min,year_max,5):
  b = a + 5
  for row in df.loc[(df['date.start_date.year'] >= a) & (df['date.start_date.year'] < b) & (df['genres'] != 0)].index:
    for value in df['genres'][row]:
      year_range.append(str(a)+'-'+str(b-1))
      genres.append(value)

df_genres_period = pd.DataFrame(
    {'period':year_range,
     'genres':genres}).groupby(['period','genres']).size().to_frame().pivot_table(values=0, index='period', columns='genres').reset_index().rename_axis(None, axis=1)

df_genres_period = df_genres_period.fillna(0)
df_genres_period

In [ ]:
min_count_row = 0.05*df_genres_period.sum(numeric_only=True).sum()
min_count_column = df_genres_period.sum(axis=0, numeric_only=True).mean()

df_genres_period = df_genres_period.loc[df_genres_period.sum(axis=1, numeric_only=True) >= min_count_row]
df_genres_period.drop([col for col, val in df_genres_period.sum(numeric_only=True).iteritems() if val <= min_count_column], axis=1, inplace=True)
df_genres_period

In [ ]:
df_genres_period.sum(axis=1, numeric_only=True)

In [ ]:
df_genres_period.plot(
        x='period',
        kind='bar',
        stacked=False,
        title='Genre Populer Anime 5 Tahunan',
        figsize=(18,8),
        grid=True,
        xlabel='Rentang Tahun',
        ylabel='Jumlah')
plt.xticks(rotation=0)
plt.show()

###Popular Anime

In [ ]:
#select top 100 anime
df_popular = df.sort_values(by=['score.popularity_rank']).loc[df['score.popularity_rank'] != 0].head(100)
df_popular.head()

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df_popular.loc[:,df_popular.columns!='anime_id'].describe()

In [ ]:
df_popular_num_episodes = df_popular.groupby(['num_episodes']).size().to_frame().reset_index()

df_popular_num_episodes.plot(
        x='num_episodes',
        y=0,
        kind='scatter',
        stacked=False,
        title='Top 100 Anime Populer Berdasarkan Jumlah Episode',
        figsize=(10,5),
        grid=True,
        xlabel='Jumlah Episode',
        ylabel='Jumlah Anime')
plt.xticks(rotation=0)
plt.show()

In [ ]:
df_popular_source_type = df_popular.groupby(['source_type']).size().to_frame().reset_index()

df_popular_source_type.plot(
        x='source_type',
        y=0,
        kind='scatter',
        stacked=False,
        title='Top 100 Anime Populer Berdasarkan Sumber Anime',
        figsize=(10,5),
        grid=True,
        xlabel='Sumber',
        ylabel='Jumlah')
plt.xticks(rotation=0)
plt.show()

In [ ]:
popular_studios = []

for row in df_popular.index:
  for value in df_popular['studios'][row]:
    year_range.append(str(a))
    popular_studios.append(value)

df_popular_studios = pd.DataFrame(
    {'studios':popular_studios}
    ).groupby('studios').size().to_frame().reset_index().rename_axis(None, axis=1)

# df_popular_studios.sort_values(by=[0], ascending=False).head(3)

df_popular_studios = df_popular_studios[df_popular_studios[0] > (0.1*df_popular_studios.shape[0])]

df_popular_studios.plot(
        x='studios',
        y=0,
        kind='scatter',
        stacked=False,
        title='Top 100 Anime Populer Berdasarkan Studio',
        figsize=(15,5),
        grid=True,
        xlabel='Studio',
        ylabel='Jumlah')
plt.xticks(rotation=0)
plt.show()

In [ ]:
df_popular_start_year = df_popular.groupby(['date.start_date.year']).size().to_frame().reset_index()

df_popular_start_year.plot(
        x='date.start_date.year',
        y=0,
        kind='scatter',
        stacked=False,
        title='Tahun Rilis Top 100 Anime Populer',
        figsize=(10,5),
        grid=True,
        xlabel='Tahun',
        ylabel='Jumlah')
plt.xticks(rotation=0)
plt.show()

In [ ]:
popular_genres = []

for row in df_popular.index:
  for value in df_popular['genres'][row]:
    year_range.append(str(a))
    popular_genres.append(value)

df_popular_genres = pd.DataFrame(
    {'genres':popular_genres}
    ).groupby('genres').size().to_frame().reset_index().rename_axis(None, axis=1)

# df_popular_genres.sort_values(by=[0], ascending=False).head(3)

df_popular_genres = df_popular_genres[df_popular_genres[0] > (0.2*df_popular_genres.shape[0])]

df_popular_genres.plot(
        x='genres',
        y=0,
        kind='scatter',
        stacked=False,
        title='Top 100 Anime Populer Berdasarkan Genre',
        figsize=(20,5),
        grid=True,
        xlabel='Genre',
        ylabel='Jumlah')
plt.xticks(rotation=0)
plt.show()

#Other, Testing, Temporary

In [ ]:
df_genres_period_stat = df_genres_period.copy()
for (columnName, columnData) in df_genres_period_stat.iteritems():
  for row in df_genres_period_stat[columnName].index:
      try:
        df_genres_period_stat[columnName][row] = (df_genres_period[columnName][row]/df_genres_period[columnName][row-1])
      except:
        pass

df_genres_period_stat.loc[[15]] = 1.00
df_genres_period_stat['period'][15] = df_genres_period['period'][15]

kolom = []
for data in df_genres_period.columns:
  if (data != 'period'):
    kolom.append(data)

df_genres_period_stat.plot(
        x='period',
        y=kolom,
        stacked=False,
        title='Tingkat Pertumbuhan Popularitas Genre Anime',
        figsize=(10,5),
        grid=True,
        xlabel='Tahun',
        ylabel='Jumlah')
plt.xticks(rotation=0)
plt.show()

In [ ]:
df_genres_period_stat.sum()

In [ ]:
year_min = df['date.start_date.year'].min()
year_max = df['date.start_date.year'].max()

genres = []
year = []

for a in range(year_min,year_max,1):
  for row in df.loc[(df['date.start_date.year'] == a) & (df['genres'] != 0)].index:
    for value in df['genres'][row]:
      year.append(a)
      genres.append(value)

df_genres_period = pd.DataFrame(
    {'year':year,
     'genres':genres}).groupby(['year','genres']).size().to_frame().pivot_table(values=0, index='year', columns='genres').reset_index().rename_axis(None, axis=1)

df_genres_period = df_genres_period.fillna(0).astype(int)

min_count_row = 0.02*df_genres_period.sum(numeric_only=True).sum()
min_count_column = df_genres_period.sum(numeric_only=True).quantile(.75)

print(min_count_row)
print('\n',min_count_column)

In [ ]:
min_count_row = 0.01*df_genres_period.sum(numeric_only=True).sum()
min_count_column = 0.2*(df_genres_period.sum(axis=0, numeric_only=True).mean())

df_genres_period = df_genres_period.loc[df_genres_period.sum(axis=1, numeric_only=True) >= min_count_row]
df_genres_period.drop([col for col, val in df_genres_period.sum(numeric_only=True).iteritems() if val <= min_count_column], axis=1, inplace=True)
df_genres_period

In [ ]:
df_genres_period.plot(
        x='period',
        kind='bar',
        stacked=False,
        title='Genre Populer Anime Tahunan',
        figsize=(35,8),
        grid=True,
        xlabel='Tahun',
        ylabel='Jumlah')
plt.xticks(rotation=0)
plt.show()

In [ ]:
# #Other & Temp
# #Get column name & info
# list_data_column_name = []
# list_data_column_info = []

# for colname in data.columns:
#   list_data_column_name.append(colname)

# for coltype in data.dtypes:
#   if coltype == 'int64':
#     list_data_column_info.append('INTEGER')
#   elif coltype == 'object':
#     list_data_column_info.append('TEXT')
#   elif coltype == 'float64':
#     list_data_column_info.append('REAL')

# list_data_column_name

#References and Other Resource
1. [Dataset](https://www.kaggle.com/datasets/svanoo/myanimelist-dataset)
2. [Insert Data From CSV to SQLite](https://www.adamsmith.haus/python/answers/how-to-insert-the-contents-of-a-csv-file-into-an-sqlite3-database-in-python)
3. [Transform SQL to MongoDB](https://arinannp.medium.com/migrasi-database-mysql-ke-mongodb-2746aaf17cf2)